body{
    margin: 0;
    background-position:0,0,0,0;
    color: aliceblue;
    font: url(fonts/Colleged.ttf)
}

.abt{ background-image: url(images/Screenshot\ 2024-03-25\ at\ 1.34.49\ PM.png)}
    
.intro{ background-image: url(images/gabegif.gif);}

 .room{background-image: url(images/Screenshot\ 2024-04-03\ at\ 1.54.35\ PM.png);}
    
 .third{ background-image: url(images/Screenshot\ 2024-04-03\ at\ 1.57.27\ PM.png);}
    
    .spirit{background-image: url(images/Screenshot\ 2024-04-03\ at\ 1.58.15\ PM.png);}
    
img{
  align-self: center;
max-height: 95%;
max-width: 98%;
content: fill;
}
img:hover{
    transform:scale(150%);
    filter:saturate(300%);
}

.introcontainer1 {
    position: relative;
    right: -50px;
    top: -45px;
     width: 450px;
    height: fit-content;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: beige;
    font-family: url(fonts/Colleged.ttf);
}

.introcontainer2{
position: relative;
right: -450px;
top: -50px;
     width: 600px;
    height: fit-content;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: beige;
    font-family: url(fonts/Colleged.ttf);
}
.introcontainer3{
    position: relative;
    right: -950px;
    bottom: 800px;
         width: 450px;
        height: fit-content;
        border-color: black;
        border-style: groove;
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: beige;
    
    }
    
    .abtcontainer3{
        position: relative;
        right: -950px;
        bottom: 800px;
             width: 450px;
            height: fit-content;
            border-color: black;
            border-style: groove;
            display: flex;
            justify-items: flex-start;
            flex-direction: column;
            background-color: rgb(255, 255, 255); 
            font-family: url(fonts/Colleged.ttf);
        }

 .roofcontainer1 {
        position: relative;
        right: -20px;
        top: -45px;
         width: 450px;
        height: fit-content;
        border-color: black;
        border-style: groove;
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: rgb(87, 87, 87);
        font-family: url(fonts/Colleged.ttf);
    
    }
    
.roofcontainer2{
    position: relative;
    right: -500px;
    bottom: 250px;
         width: 400px;
        height: fit-content;
        border-color: black;
        border-style: groove;
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: rgb(162, 162, 162);
        font-family: url(fonts/Colleged.ttf);
    
    }
.roofcontainer3{
        position: relative;
        right: -950px;
        bottom: 900px;
             width: 450px;
            height: fit-content;
            border-color: black;
            border-style: groove;
            display: flex;
            justify-items: flex-start;
            flex-direction: column;
            background-color: rgb(69, 69, 69);
            font-family: url(fonts/Colleged.ttf);
        
        }

.thirdcontainer1 {
            position: relative;
            right: -50px;
            top: -45px;
             width: 450px;
            height: fit-content;
            border-color: black;
            border-style: groove;
            display: flex;
            justify-items: flex-start;
            flex-direction: column;
            background-color:rgba(125, 191, 123, 0.366);
            font-family: url(fonts/Colleged.ttf);
        
        }
        
 .thirdcontainer2{
        position: relative;
        right: -600px;
        bottom: 400px;
             width: 300px;
            height: fit-content;
            border-color: black;
            border-style: groove;
            display: flex;
            justify-items: flex-start;
            flex-direction: column;
            background-color: rgba(125, 191, 123, 0.37);
            font-family: url(fonts/Colleged.ttf);
        
        }
.thirdcontainer3{
            position: relative;
            right: -950px;
            bottom: 1000px;
                 width: 450px;
                height: fit-content;
                border-color: black;
                border-style: groove;
                display: flex;
                justify-items: flex-start;
                flex-direction: column;
                background-color: rgba(125, 191, 123, 0.386);
                font-family: url(fonts/Colleged.ttf);}

 .spiritcontainer1 {
                    position: relative;
                    right: -50px;
                    top: -45px;
                     width: 450px;
                    height: fit-content;
                    border-color: black;
                    border-style: groove;
                    display: flex;
                    justify-items: flex-start;
                    flex-direction: column;
                    background-color: rgb(106, 0, 0);
                    font-family: url(fonts/Colleged.ttf);
                
                }
                
.spiritcontainer2{
                position: relative;
                right: -600px;
               bottom:400px;
                     width: 300px;
                    height: fit-content;
                    border-color: black;
                    border-style: groove;
                    display: flex;
                    justify-items: flex-start;
                    flex-direction: column;
                    background-color: rgb(106, 0, 0);
                    font-family: url(fonts/Colleged.ttf);
                
                }
.spiritcontainer3{
                    position: relative;
                    right: -950px;
                    bottom: 800px;
                         width: 450px;
                        height: fit-content;
                        border-color: black;
                        border-style: groove;
                        display: flex;
                        justify-items: flex-start;
                        flex-direction: column;
                        background-color: rgb(106, 0, 0);
                        font-family: url(fonts/Colleged.ttf);}
.item-p{
    color:rgb(0, 0, 0);
    font-family: url(fonts/Colleged.ttf);
}

.text{
align-self: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  font-family: url(fonts/Colleged.ttf);
}

.banner{
    background-color: black;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: url(fonts/Colleged.ttf);
}

footer{
  position: absolute;
  background-color: black;
  bottom: 0px;
  font-family: url(fonts/Colleged.ttf);
}

nav ul{
word-spacing: space-around;
font-family: url(fonts/Colleged.ttf);
}

nav ul li a{
    color: white;
    font-family: url(fonts/Colleged.ttf);
}

.title{
    text-align: center;
    font-family: url(fonts/Colleged.ttf);
    position: end;
}
